# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJ...

# Pagos (sandbox | production)
EXPO_PUBLIC_PAYMENT_MODE=sandbox

# Wompi (solo si PAYMENT_MODE=production)
EXPO_PUBLIC_WOMPI_PUBLIC_KEY=pub_prod_...
